#index_page {
    background: url("background_image.jpg");
    height: 100vh;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    };

.card-registration .select-arrow {
     top: 13px;
      };