{%extends 'base.html' %}
{% block header %}
  <title>{% block title %}Shopping Cart{% endblock %}</title>
{% endblock %}
{% block content %}
    <section class="px-4 py-5 w-100" style="background-color: #d2c9ff; border-radius: .5rem .5rem 0 0;">
      <div class="row">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{total_items}} different items</h6>
                    </div>
                    <form action="{{url_for('calculate_total')}}" method="post">
                    {% for product in products %}
                    <hr class="my-2">
                    <div class="row mb-2 d-flex justify-content-between align-items-center">
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{product["product_name"]}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                        <button data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" data-mdb-button-initialized="true">
                          <i class="fas fa-minus"></i>
                        </button>
                        <input id="form1" min="0" name="q{{products.index(product)}}" value="{{product['quantity']}}" type="number" class="form-control form-control-sm w-25">
                        <button data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" data-mdb-button-initialized="true">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{product["price"]}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    {%endfor %}

                    <hr class="my-2">

                    <div class="pt-5">
                        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="submit" >Calculate Total</button>
                    </div>
                    </form>
                  </div>
                </div>

                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Total</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">All items:</h5>
                      {% if total_price > 0 %}
                      <h5>{{total_price}} €</h5>
                       {% endif %}
                    </div>

                    <h5 class="text-uppercase mb-3">Shipping</h5>

                    <div class="mb-4 pb-2">
                      <div id="select-wrapper-927222" class="select-wrapper"><div class="form-outline" data-mdb-input-init="" data-mdb-input-initialized="true"><input class="form-control select-input placeholder-active active" type="text" role="combobox" aria-disabled="false" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown-container-698170" id="select-input-987683" readonly="true"><span class="select-arrow"></span><div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 0px;"></div><div class="form-notch-trailing"></div></div><div class="form-label select-fake-value">Standard-Delivery- €5.00</div></div><select data-mdb-select-init="" class="select-initialized" data-mdb-select-initialized="true">
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select></div>
                    </div>

                    <h5 class="text-uppercase mb-3">Give code</h5>

                    <div class="mb-5">
                      <div data-mdb-input-init="" class="form-outline" data-mdb-input-initialized="true">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg">
                        <label class="form-label" for="form3Examplea2" style="margin-left: 0px;">Enter your code</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 98.4px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>€ 137.00</h5>
                    </div>

                    <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark" data-mdb-button-initialized="true">Register</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

